
{% load static %}
{% static 'images' as image_path %}
<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	

    <title>apothecary</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'css/theme-1.css'%}">
	<link id="comment" rel="stylesheet" href="{% static 'css/comment.css'%}">
	<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
	
</head> 

<body>
	
    
    <header class="header text-center">	    
	    
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
					{%for intro in intro%}
					
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{{intro.profile_pic.url}}" alt="image" >			
					
					<div class="bio mb-3">{{intro.content}}<br><a href="about.html">Find more about us</a></div><!--//bio-->
					{%endfor%}
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="https://twitter.com/apothecary_re?s=08"><i class="fab fa-twitter fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://www.linkedin.com/in/apothecary-re-4a7237213r"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://www.instagram.com/apothecary_re/?utm_medium=copy_link"><i class="fab fa-instagram fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100068618738585"><i class="fab fa-facebook fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="https://www.youtube.com/channel/UCcSIgLKKZ5thTtXFuiTWRmA"><i class="fab fa-youtube fa-fw"></i></a></li>
			        </ul><!--//social-list-->
			        <hr> 
				</div><!--//profile-section-->
				
				<ul class="navbar-nav flex-column text-left">
					
					<li class="nav-item">
					    <a class="nav-link" href='website_about'><i class="fas fa-user fa-fw mr-2"></i>About our website</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="about.html"><i  class="fa fa-users" aria-hidden="true"></i>   Healthcare expert team</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="hct"><i class="fa fa-users" aria-hidden="true"></i>   Healthcare coordinators team</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="supporter_detail"><i class="fa fa-users" aria-hidden="true"></i> supporters</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="tt"><i class="fa fa-code" aria-hidden="true"></i>   Technical team</a>
					</li>
					
				</ul>
				
				<div class="my-2 my-md-3">
				    <a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSdWJusYNyO6xhHHHdL894tghJeKnNjTtI2cs-AIhQRImjOwow/viewform?usp=sf_link" target="_blank">Get in Touch</a>
				</div>
			</div>
		</nav>
    </header>
    
    <div class="main-wrapper">
		<div>
			{% include 'message.html' %}
		</div>
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">APOTHECARY - Beyond filling prescriptions</h2>
			    <div class="intro">Subscribe and get my latest posts on your inbox.</div>
			    <form action="subscribers" method="POST" class="signup-form form-inline justify-content-center pt-3">
					{% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
		    </div><!--//container-->
	    </section>
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
				
				<div class="divider" id="google_translate_element"></div>

				<script type="text/javascript">
					function googleTranslateElementInit() {
  					new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
					}
				</script>

				<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
				
				{% for objs in blogs %}
				<hr>
			    <div class="item mb-5">
				    <div class="media">
						
					    <div class="media-body">

							{% if objs.paragraph or objs.paragraph2 or objs.final_paragraph %}
							
								<h3 class="title mb-1"><a href="">{{objs.title}}</a></h3>
								<div class="meta mb-1"><span class="date">Published on {{objs.posted_on}}</span><span class="time">posted by {{objs.blogger_name}}</span></div>

								<br>
								{% if objs.first_img %}
									<img style="max-width: 100%;" src="{{objs.first_img.url}}" alt="image">
								{% endif %}
								
								
								<div style="text-align:justify;font-size:18px;" class="intro" >{{objs.paragraph|linebreaks|urlize	}}</div>
								
								
								<h5 class="title mb-1"><a href="">{{objs.sub_topic_2}}</a></h5>
								<br>
								{% if objs.inter_img %}
									<img style="max-width: 100%"  src="{{objs.inter_img.url}}" alt="image">
								{% endif %}
								
								<br>
								<div style="text-align:justify;font-size:18px;" class="intro">{{objs.paragraph2|linebreaks|urlize}}</div>
								
								<h5 class="title mb-1"><a href="">{{objs.sub_topic_final}}</a></h5>
								<br>
								{% if objs.final_img %}
									<img  style="max-width: 100%" src="{{objs.final_img.url}}" alt="image">
								{% endif %}
								<br>
								<div style="text-align:justify;font-size:18px;" class="intro">{{objs.final_paragraph|linebreaks|urlize}}</div>
								



							{% elif objs.meme %}
								<img src="{{objs.meme.url}}" alt="meme" width=100% height=100%>
								<br>
								<br>
								<div class="meta mb-1"><span  style="font-weight: bold; color:black;font-size: 15px;">{{objs.blogger_name}}</span><span style="font-weight: normal; color: black;font-size: 16px;" class="date">{{objs.meme_description|urlize}}</span></div>
								<br>
								<div class="meta mb-1"><span class="date">Published on {{objs.posted_on}}</span></div>

							{%else%}
							<h3 class="title mb-1"><a href="">{{objs.title}}</a></h3><br>
								
							
								
								<video  width=100% height=100% preload="auto" preload="metadata"  controls="controls">
									<source src="{{objs.video.url}}" type="video/mp4">
								</video>
								
								<br>
								<br>
								<dl>{{objs.video_description|urlize}}</dl>
								<div class="meta mb-1"><span class="date">{{objs.blogger_name}}</span><span class="date">Published on {{objs.posted_on}}</span></div>
								
							{%endif%}
							
							
							<!--//comment section ends-->
						</div><!--//media-body-->
				    </div><!--//media-->
					
				</div><!--//item-->
				<style>
					body {
						background: #eee

					}
					
					.date {
						font-size: 11px
					}
					
					.comment-text {
						font-size: 12px
					}
					
					.fs-12 {
						font-size: 12px
					}
					
					.shadow-none {
						box-shadow: none
					}
					
					.name {
						color: #007bff
					}
					
					.cursor:hover {
						color: blue
					}
					
					.cursor {
						cursor: pointer
					}
					
					.textarea {
						resize: none
					}
					

				</style>
				
				{% if not objs.comments.all %}
				<div class="">
					
					<div class="bg-white p-2">
						<!--//comments-->
						<div class="d-flex flex-row user-info">
							<div class="d-flex flex-column justify-content-start ml-2">
								<span class="d-block font-weight-bold name"></span>
								<span class="date text-black-50"></span>
							</div>
						</div>
						<div class="mt-2">
							<h5>Comments...</h5>
							<hr>
							<p class="comment-text">No comments yet .. </p>		
						</div>
				{% else %}
				<h5>Comments...</h5>
				<hr>
				<style>
					.anyClass {
						height:250px;
						overflow-y: auto;
						
			
					  }
				</style>
				<div class="anyClass">
						{%for comment in objs.comments.all%}
								<div class="bg-white p-2">
											<!--//comments-->
										<div class="d-flex flex-row user-info">
											<div class="d-flex flex-column justify-content-start ml-2">
												<strong>	
													<span class="title mb-1	">{{comment.name}}</span>
													<span class="date text-black-50">Shared publicly - {{comment.date}}</span>
												</strong><br>
												<p class="comment-text">{{comment.content|urlize}} </p>	
													
											</div>
												
											
										</div>	
								</div>			
						{%endfor%}
						
				</div>	

				{%endif%}
				
				{%if form is not none%}
					<h5>Add a new public comment</h5>
					<hr>
						<div class="form-group">	
							<form method='POST' action="comment_action" class='form-group'>
								{%csrf_token%}
									<label for="Name">Name :</label>
										{{form.name}}
									<br>
									<label for="content">Comment :</label>
										{{form.content}}
									<input type="text" id="objid" name="objid" value="{{objs.id}}" hidden>
								<div class="mt-2 text-right">
									<button class="btn btn-primary btn-sm shadow-none"  type="submit">Post comment</button>			
								</div>
							</form>	
						</div>
							
				{%else%}
					notworking
				{%endif%}			
						 
				
				<br>
				<br>

				<!--//comment section ends-->
			
							
				{% endfor %}
							    
				<link id="theme-style" rel="stylesheet" href="{% static 'css/theme-1.css'%}">
			    <nav class="blog-nav nav nav-justified my-5">
				  <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				  <a class="nav-link-next nav-item nav-link rounded" >Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				</nav>
				
		    </div>
	    </section>
	    
	    <footer class="footer text-center py-2 theme-bg-dark">
		   
	        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fas fa-heart" style="color: #7dfa4b;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">bharathwajan</a> </small>
		   
	    </footer>
    
    </div><!--//main-wrapper-->
    
    
    
    
    
    <!-- Javascript -->    
	      
    <script src="{% static 'plugins/jquery-3.3.1.min.js' }"></script>
    <script src="{% static 'plugins/popper.min.js' }"></script> 
	<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' }"></script> 
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>


    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="{% static 'js/demo/style-switcher.js' }"></script>     
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	

</body>
</html> 

